@media screen and (max-width: 39.9375em) {
    /* styles for small only */
}

@media screen and (min-width: 40em) {
    /* styles for medium and onward */
}

@media screen and (max-width: 39.9375em) {
    /* styles for small and medium*/
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
}

@media screen and (min-width: 64em) {
    /* styles for large and onward only */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shadows Into Light', cursive;
    margin:0;
    padding:0;
}

h1 {
    font-size: 20vw;
    
    @media screen and (min-width: 40em) {
        /* styles for medium and onward */
        font-size: 15vw;
    }
    
    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        font-size: 6vw;
    }
}

h3 {
    font-size: 10vw;

    @media screen and (min-width: 40em) {
        /* styles for medium and onward */
        font-size: 5vw;
    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        font-size: 7vw;
    }
}

//////////////////////////////////////////
//  <div class="nav-section">
//                     <div class="open-nav" id="openNav">&#8801</div>
//                         <ul class="nav-ul">
//                             <li><a href="index.html">nav1</li>
//                             <li><a href="about.html">nav1</li>
//                             <li><a href="#">nav1</li>
//                         </ul>
//                 </div>

.nav-section{
   background-color: lightblue;
   width:100%;
    text-align: center;
    //transition:1s all ease;
    overflow: hidden;
    position: fixed;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 0;
    z-index: 100;
    
        .open-nav {
            font-size:5vw;
            position:fixed;
            display: flex;
            justify-content: center;
            
        }
    

        .nav-ul {
            opacity: 0;
            list-style: none;
            margin:0;
            padding:5vw 0;
            align-self: center;

            .close-nav {
                font-size:5vw;
                
        }
            

            li {
                padding:2vw 0;
                flex:1;

                a {
                    font-size: 2vw;
                    text-decoration: none;

                    @media screen and (max-width: 39.9375em) {
                    /* styles for small only */
                    font-size: $nav-a-font-for-small;
                    }
                    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
                     /* styles for medium only */
                    font-size: $nav-a-font-for-madium;
                    }
                }
            }
        }
        
    }
    

