@media screen and (max-width: 39.9375em) {
    /* styles for small only */
}

@media screen and (min-width: 40em) {
    /* styles for medium and onward */
}

@media screen and (max-width: 39.9375em) {
    /* styles for small and medium*/
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    /* styles for medium only */
}

@media screen and (min-width: 64em) {
    /* styles for large and onward only */
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Shadows Into Light', cursive;
    margin:0;
    padding:0;
}

h1 {
    font-size: 20vw;
    
    @media screen and (min-width: 40em) {
        /* styles for medium and onward */
        font-size: 15vw;
    }
    
    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        font-size: 6vw;
    }
}

h3 {
    font-size: 10vw;

    @media screen and (min-width: 40em) {
        /* styles for medium and onward */
        font-size: 5vw;
    }

    @media screen and (min-width: 64em) {
        /* styles for large and onward only */
        font-size: 7vw;
    }
}

//////////////////////////////////////////
.nav{
    z-index: 10;
        .open-nav {
            font-size:30vw;
        }
    }

    

